<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
    <link rel="stylesheet" href="index.css">
    <title>EEXCESS Advanced Search</title>
</head>

<script type="text/javascript"></script>

<body ng-app="EEXCESSSearch" class="body">
<div ng-controller="cookieHandler" id="title" name="title" alt="search">
    <table>
        <tr style="padding-bottom: 0em">
            <td>
                <p>EEXCESS Advanced Search</p>
            </td>
        </tr>
        <tr>
            <td>
                <p id="UUID">{{UUID}}</p>
            </td>
        </tr>
    </table>
</div>
<div ng-controller="angCtrl" id="inner-container" name="inner-container" alt="inner-container">
    <div id="search" name="search" alt="search">
        <div id="input-container" name="input-container" alt="input-container">
            <form ng-submit="putin()" id="search-form">
                <input id="search-input" type="text" placeholder="Search"  autofocus/>
            </form>
        </div>
    </div>
    <div id="search-collect" name="search-collect" alt="search-collect">
        <div id="search-selector" name="search-selector" alt="search-selector">
            <!-- Filter will be displayed in this container -->
            <div class="category" ng-repeat="box in initCheckbox">
                <div class="category-header">
                    {{box.title}}
                </div>
                <div class="category-content">
                    <div class="checkbox-container">
                        <form>
                            <table>
                                <tr ng-repeat="value in box.data track by $index">
                                    <td>
                                        <input type="checkbox" class="checkbox" ng-model="checkBoxes[box.header][value]" ng-change="createFilter(box.header, value)"/>
                                    </td>
                                    <td>
                                        {{value}}
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="search-results-container" name="search-results-container" alt="search-results-container">
            <div id="switch-order" class="switch-field">
                <input type="radio" id="switch_left" name="switch_2" value="yes" ng-model="string" ng-change="onAlphaOrderClicked(true)" checked/>
                <label for="switch_left">Original Order</label>
                <input type="radio" id="switch_right" name="switch_2" value="no" ng-model="string" ng-change="onAlphaOrderClicked(false)"/>
                <label for="switch_right">Alphabetic Order</label>
            </div>
            <div id="search-results" name="search-results" alt="search-results">
                <!-- Search-results are displayed in this container -->

                <div class="textresult" ng-repeat="x in filteredArray()">
                    <table>
                        <tr>
                            <td>
                                <a href={{x.documentBadge.uri}} > {{x.title}}</a>
                            </td>
                        </tr>
                        <tr ng-if="x.previewImage">
                            <td>
                                <img src="{{x.previewImage}}" style="width:17vw;height: 24vw;">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="angularApp.js"></script>
<script src="angularController.js"></script>
<script src="angularCookies.js"></script>

</body>
</html>