<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-csp.css">
    <title>EEXCESS Advanced Search</title>
</head>

<script type="text/javascript"></script>

<body ng-app="EEXCESSSearch" ng-controller="angCtrl" class="body">
<div id="title" name="title" alt="search">
    <table>
        <tr>
            <td>
                <p>EEXCESS Advanced Search</p>
            </td>
        </tr>
        <tr>
            <td>
                <p id="UUID">{{UUID}}</p>
            </td>
        </tr>
    </table>
</div>
<div id="inner-container" name="inner-container" alt="inner-container">
    <div id="search" name="search" alt="search">
        <div id="input-container" name="input-container" alt="input-container">
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="width: 100%; margin-right: 1vw;">
                        <form ng-submit="putin()" id="search-form">
                            <input id="search-input" ng-model="searchInput" type="text" placeholder="Search" autofocus/>
                        </form>
                </td>
                <td style="width: 20px;">

                </td>
                <td style="">
                    <select ng-model="numResults" ng-change="putin()" ng-options="option for option in dropdown"></select>
                </td>
            </tr>
        </table>
        </div>
    </div>
    <div class="ng-hide" ng-show="showOrder()">
    <div id="search-collect" name="search-collect" alt="search-collect">
        <div id="search-selector" name="search-selector" alt="search-selector">
            <!-- Filter will be displayed in this container -->
            <div class="category" ng-repeat="box in initCheckbox">
                <div class="category-header">
                    {{box.title}}
                </div>
                <div class="category-content">
                    <div class="checkbox-container">
                        <form>
                            <table>
                                <tr ng-repeat="value in box.data track by $index">
                                    <td>
                                        <input type="checkbox" class="checkbox" ng-model="checkBoxes[box.header][value]" ng-change="createFilter(box.header, value)"/>
                                    </td>
                                    <td>
                                        {{value}}
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="search-results-container" name="search-results-container" alt="search-results-container">
            <div id="switch-order" class="switch-field">
                <input type="radio" id="switch_left" name="switch_2" value="true" ng-value="true" ng-model="orderChecked" checked/>
                <label for="switch_left">Original Order</label>
                <input type="radio" id="switch_right" name="switch_2" value="false" ng-value="false" ng-model="orderChecked"/>
                <label for="switch_right">Alphabetic Order</label>
            </div>
            <div id="search-results" name="search-results" alt="search-results">
                    <div class="textresult" ng-repeat="x in filteredArray('ordered')">
                        <table>
                            <tr>
                                <td>
                                    <a href={{x.documentBadge.uri}} > {{x.title}}</a>
                                </td>
                            </tr>
                            <tr ng-if="x.previewImage">
                                <td>
                                    <img src="{{x.previewImage}}" style="width:17vw;height: 24vw;">
                                </td>
                            </tr>
                        </table>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>

<script src="angularApp.js"></script>
<script src="angularController.js"></script>

</body>
</html>